body{
    margin: 0;
    background-image: url(imgsabarsubur/desk-notebook-writing-work-table-pen-812199-pxhere.com.jpg);
}

img{
    width: 100px;
    height:50px;
    margin-left: 100px;
    
}

h1{
    text-align: center; 
    position: relative;
    top: 250px;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Combo', cursive;
    font-family: 'Enriqueta', serif;
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

